html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  border: 1px solid red;
}

div {
  border: 1px solid black;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.left-side,
.right-side {
  flex-grow: 1;
}

.outer-box {
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-box {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.square {
  display: grid;
  justify-items: start;
  align-items: start;
}

.square--inactive {
  background-color: black;
}

.square > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.square > p {
  font-size: x-small;
  margin: 0;
}

input {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  caret-color: transparent;
  cursor: default;
  outline: none;
  text-align: center;
}

input::selection {
  background-color: transparent;
}

.highlight-selected {
  background-color: orchid;
}

.highlight-grid {
  background-color: lightpink;
}

.clue-selected {
  border: 2px solid red;
}

.clue-selected-alt {
  border: 2px solid blue;
}
